<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
  <servlet>
    <servlet-name>ClothesServlet</servlet-name>
    <servlet-class>com.yourstore.ClothesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClothesServlet</servlet-name>
    <url-pattern>/clothes</url-pattern>
  </servlet-mapping>
</web-app>
